html, body{
    margin:0;
    padding: 0;
}

html{
    color: #ffffff;
}

body{
    text-align: center;
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primer_parrafo{
    font-size: 30px;
    border-color: red;
}

footer{
    background-color: yellow;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 40px;
} 

h4{
    color: greenyellow;
    font-style: italic;
    font-size: xx-large;
}